html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.custom-btn {
    background-color: #252525;
    transition: 0.4s;
}

.custom-btn:hover {
    background-color: #414548;
}

/* navbar part start */
.navbar{
    background-color: #ffffff;
    border-bottom: 2px solid #53525257;
}
.nav-item a {
    color: #3c3636dc;
    font-size: 1.25rem;
    transition: 0.4s;
}

.nav-item a:hover {
    color: #F5DF4E;
}

/* navbar part end */

/* banner part start */
.banner-section {
    background-color: #F5DF4E;
    padding: 8.75rem 0rem 4.375rem;
}

.banner-content h2 {
    font-size: 1.875rem;
}

.banner-content h1 {
    font-size: 3.25rem;
    font-weight: 600;
}
.banner-section .custom-btn{
    min-width: 220px;
}
.modal-color{
    background-color: #F5DF4E;
}
.modal-btn{
    background-color: #252525;
    color: #ffffff;
}
.modal-btn:hover{
    background-color: #252525;
    color: #ffffff;
}
/* banner part end */

/* about part start */
.about-heading p {
    display: inline-block;
    background-color: #F5DF4E;
}

.about-heading h2 {
    font-size: 2.5rem;
}

.about-content-details h3 {
    font-size: 2.5rem;
}

.about-content-details p {
    text-align: justify;
}

.about-details h6 {
    color: #6C757D;
}

/* about part end */

/* help part start */
.help-section {
    background-color: #F8F9FA;
}

.help-heading p {
    display: inline-block;
    background-color: #F5DF4E;
}

.help-item i {
    font-size: 60px;
    color: #F5DF4E;
}

.help-item p {
    color: #6C757D;
    text-align: justify;
}

/* help part end */

/* resume part start */
.resume-heading p {
    display: inline-block;
    background-color: #F5DF4E;
}

.education-content img {
    height: 200px;
}

.education-content h6 {
    color: #6C757D;
    ;
}

.education-content p {
    text-align: justify;
}

.experience-content img {
    height: 220px;
    width: 280px;
}

/* resume part end */

/* skills part start */
.skills-progress-bar {
    background-color: #F5DF4E;
}

.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.8s;
}

@keyframes animateBar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.skills-btn a {
    border: 2px solid #252525;
    transition: 0.6s;
}

.skills-btn a:hover {
    background-color: #252525;
    color: #ffffff;
}

/* skills part end */

/* interest part start */
.interest-section {
    background-image: url(../images/interest3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.overlay {
    background-color: #6c757d33;
    z-index: 1;
    height: 100%;
    width: 100%;
    color: #ffffff;
}

.interest-content h2 {
    color: #ffffff;
    font-size: 40px;
}

.interest-content a {
    background-color: #F5DF4E;
}

.interest-content a:hover {
    background-color: #F5DF4E;
}
.interest-section .modal-title{
    color: #212529;
}
.interest-section .modal-body{
    color: #111418;
}
.interest-section .modal-body a{
    text-decoration: underline;
    background-color: #ffffff;
}

/* interest part end */

/* contact part start */
.contact-section {
    background-color: #F5DF4E;
}

/* #1E3050 */
.contact-content>p {
    text-align: justify;
}

.contact-content i {
    font-size: 2rem;
    transition: 0.4s;
}

/* .contact-content .facebook{
    transition: 0.4s;
} */
.contact-content .facebook:hover {
    color: #1877F2;
    transform: scale(1.3);
}

.contact-content .instagram:hover {
    color: #E4405F;
    transform: scale(1.3);
}

.contact-content .linkedin:hover {
    color: #0A66C2;
    transform: scale(1.3);
}

.contact-content .github:hover {
    color: #161414;
    transform: scale(1.3);
}

.contact-form input {
    background-color: transparent;
    border-bottom: 1px solid #21252993 !important;
}

.contact-form input:focus {
    background-color: #F5DF4E;
    box-shadow: none;
}

.contact-form textarea {
    background-color: #F5DF4E;
    border-bottom: 1px solid #21252993 !important;
}

.contact-form textarea:focus {
    background-color: #F5DF4E;
    box-shadow: none;
}

/* contact part end */

/* footer section start */
footer {
    background-color: #111418;
}

footer p {
    color: #ffffffa5;
}

footer span {
    color: #F5DF4E;
}

/* footer section end */

/* break points */
@media (max-width: 500px) {
    .banner-section {
        padding: 7rem 0rem 3.5rem;
    }
    .banner-img img {
        width: 70%;
    }

    .about-content-details h3 {
        font-size: 8vw;
    }
}

@media (min-width: 501px) {
    .banner-content h2 {
        font-size: 2.875rem;
    }

    .banner-content h1 {
        font-size: 5.25rem;
        font-weight: 600;
    }
}

@media (min-width: 768px) {
    .banner-content h2 {
        font-size: 3.5rem;
    }

    .banner-content h1 {
        font-size: 7rem;
        font-weight: 600;
    }
}

@media (min-width: 992px) {
    .banner-content {
        width: 70%;
    }

    .banner-content h2 {
        font-size: 2rem;
    }

    .banner-content h1 {
        font-size: 4.5rem;
        font-weight: 600;
    }

    .banner-img {
        width: 30%;
    }

    .banner-img img {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .banner-content h2 {
        font-size: 3rem;
    }

    .banner-content h1 {
        font-size: 5.5rem;
        font-weight: 600;
    }
}